<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065125161366-8huka52rkuqek3sktbh0jh6c7isufnoq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065125161366-8huka52rkuqek3sktbh0jh6c7isufnoq</string>
	<key>API_KEY</key>
	<string>AIzaSyAXS7ubS7qJDUT1sncJsRh32ucDg2dd5FE</string>
	<key>GCM_SENDER_ID</key>
	<string>1065125161366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>twtankimn</string>
	<key>STORAGE_BUCKET</key>
	<string>twtankimn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065125161366:ios:ab4f6e22f64e8feca895b7</string>
</dict>
</plist>